mixin about()
	+b.about&attributes(attributes)
		.subtitle
			| Расскажите о себе словами
		.description
			| Напишите пару предложений, чем Вас привлекла наша вакансия и чего Вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически
		.about__story
			p.courier.
				Ааааа...
			p.courier.
				ээээээ....
			p.courier.
				ээээээ....
