mixin about()
	+b.about&attributes(attributes)
		.subtitle
			| Расскажите о себе словами
		.description
			| Напишите пару предложений, чем Вас привлекла наша вакансия и чего Вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически
		.about__story
			p.courier.
				Меня зовут Егор. Мне 29 лет, женат, детей нет. Живу в славном городе Иркутске. Люблю заниматься велоспортом. Работаю начальником отдела мониторинга сети в компании Интернет-провайдера. Весной 2016 принял решение сменить сферу деятельности, чтобы не зависеть от города и выбрал для себя программирование. Версткой и javascript занимаюсь год. Опыта js пока недостаточно для быстрого решения задач, с версткой все гораздо лучше. Это моя третья попытка отправить вам тестовое задание (предыдущие две были в ноябре 2016).
			p.courier.
				gslider написал самостоятельно на основе пройденых уроков, он не совершенен, но очень горжусь этой работой :Р
			p.courier.
				Работа в CSSSR заинтересовала прежде всего интересным тестовым заданием и возможностью поработать в команде.
