body, header, .container
	margin 0 auto
	padding 0
	font-size 18px

body
	{$body_background}
	{$body_font}

section
	margin-top: 19px

.row
	display: flex
	justify-content: space-between

.col-3
	width: calc(33.33333% - 8px)
	// background-color: pink

.spacer
	flex: 1
	// background-color: #91fff5

.subtitle
	font-size: 24px
	font-weight: bold
	{$margin_title}

.title
	position relative
	top 15px
	margin-right 10px
	padding 20px 20px 20px 0
	{$body_font}
	{$font_title}

.description
	{$font_p}

.courier
	flex: 1
	padding-left: 15px
	line-height 60px
	background url(../../assets/images/js-bar.png)
	background-position -6px 26px
	{$p_courier}

.container
	padding: 70px 117px 73px 113px
	width 1000px
	background-image url(../images/background-container.png)

	+mobile()
		padding-top 40px
		padding-bottom 20px
