body, header, .container
	margin 0 auto
	padding 0
	font-size 18px

body
	{$body_background}
	{$body_font}

.row
	display flex

.col-1
	min-width 258px
.col-2
	min-width 269px
.col-3
	min-width 242px

.subtitle
	font-size 24px
	font-weight bold
	{$margin_title}

.title
	position relative
	padding 33px 15px 0 0
	{$font_title}

.description
	margin-top 10px
	{$font_p}

.courier
	flex 1
	padding-left 15px
	line-height 60px
	background url(../images/js-bar.png)
	background-position -6px 26px
	{$p_courier}

.container
	padding: 70px 116px 73px 113px
	width 1000px
	background url(../images/background-container.png)
