body, header, .container
	margin 0 auto
	padding 0
	font-size 18px

body
	{$body_background}
	{$body_font}

section
	margin-top: 22px

.row
	display: flex
	justify-content: space-between

.col-3
	width: calc(33.33333% - 8px)
	// background-color: pink

.spacer
	flex: 1
	// background-color: #91fff5

.subtitle
	font-size: 24px
	font-weight: bold
	margin-bottom: 10px
	{$margin_title}

.title
	position relative
	padding 32px 15px 0 0
	{$body_font}
	{$font_title}

.description
	{$font_p}

.courier
	line-height 57px
	background url(../../assets/images/js-bar.png)
	background-position -6px 24px
	{$p_courier}
	flex 1
	padding-left: 15px

.container
	padding: 70px 117px 73px 113px
	width 1000px
	background-image url(../images/background-container.png)
