include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected

doctype html
html(lang='ru')
	include ../head/head
	body
		.container
			+header

			+section()(class="person")
				each item in getData('data').person
					+underline(item[0], item[1])

			+section('Расскажите о себе чекбоксами')(class="skills")
				.description.
					Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантированно будете справляться.
				+e.form
					each item in getData('data').skills
						+checkbox(item[0], item[1], item[2], 'checkbox')

			+section("Уровень владения JavaScript")(class="jsbar")
				#lineCont

			+section("Расскажите о себе словами")(class="about")
				.description.
					Напишите пару предложений, чем Вас привлекла наша вакансия и чего Вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически
				+e.story
					p.courier.
						Меня зовут Егор. Мне 29 лет, женат, детей нет. Живу в славном городе Иркутске. Люблю заниматься велоспортом. Работаю начальником отдела мониторинга сети в компании Интернет-провайдера. Весной 2016 принял решение сменить сферу деятельности, чтобы не зависеть от города и выбрал для себя программирование. Версткой и javascript занимаюсь год. Опыта js пока недостаточно для быстрого решения задач, с версткой все гораздо лучше. Это моя третья попытка отправить вам тестовое задание (предыдущие две были в ноябре 2016).
					p.courier.
						gslider написал самостоятельно на основе пройденых уроков, он не совершенен, но очень горжусь работой :Р
					p.courier.
						Работа в CSSSR заинтересовала прежде всего интересным тестовым заданием и возможностью поработать в команде.

			+section("Какие у вас планы на будущее?")(class="plans")
				.description.
					Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
				+e.form
					each item in getData('data').career
						+checkbox(item[0], item[1], item[2], 'radio')

			+section()(class="date")
					+underline("Дата заполнения", "31.10.2017")

		script(src='assets/scripts/app.min.js')
