include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected

include ../header/header
include ../date/date

doctype html
html(lang='ru')
	include ../head/head
	body
		.container
			+header
			section
				+main-data
				+skill-data
				+skill-bar
				+about
				+plans
				+date

		script(src='assets/scripts/app.min.js')
