.plans
	margin-top 42px
	&__form
		margin 17px 0 0 30px
	&__input
		display none
	&__label
		position relative
		margin-right 50px
		font-size 20px
		font-weight bold
	&__label:before
		position absolute
		top -2px
		left -30px
		size(27px, 29px)
		content ''
		background url(../images/sprites/icons.png)
		background-position -8px -7px
	&__input[type='radio']:checked + .plans__label:before
		size(27px, 29px)
		background-position -57px -7px
