include ../plans/plans__form

mixin plans()
	+b.plans&attributes(attributes)
		.subtitle
				| Какие у вас планы на будущее?
		.description
				| Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		+plan(getData('plan-base'))
