.plans
	margin-top 52px

	&__wrap
		position relative
		margin-right 22px

	&__form
		margin-y(17px)
		display flex

	&__label
		position relative
		padding-left 33px
		font-size 20px
		font-weight bold

		&:before
			position absolute
			top -2px
			left 0
			size(27px, 29px)
			content ''
			background url(../images/sprites/icons.png)
			background-position -267px -66px

	&__input
		display none

	&__input[type='radio']:checked + &__label:before
		size(27px, 29px)
		background-position -316px -66px
