$body_font =
	font-family 'PT Sans', sans-serif
	color #000
$font_title =
	font-size 22.4px
	font-weight 800
$p_courier =
	font-family "Courier New", Courier, monospace
	font-size 30px
	font-weight 500
$font_p =
	font-size 15px
	color #3d3d3d
	line-height 22px

$body_background =
	background #797979
