include ../blocks/header/header
include ../blocks/section/section
include ../blocks/underline/underline
include ../blocks/checkbox/checkbox

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Resume George Madiarov';
