include ../blocks/person/person
include ../blocks/skills/skills
include ../blocks/jsbar/jsbar
include ../blocks/about/about
include ../blocks/plans/plans
include ../blocks/header/header
include ../blocks/date/date

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Resume George Madiarov';
