.skill-data
	margin-top 64px
	&__form
		margin-top 28px
	&__block
		margin-left 27px
		&__wrap
			margin-bottom 10px
		&__label
			position relative
			font-size 21px
			font-weight 800
			line-height 25px
		&__label:before
			position absolute
			top -5px
			left -28px
			size(20px, 30px)
			content ''
			background url(../images/sprites/icons.png)
			background-position 52px 40px
		&__input
			display none
			&-span0
				position relative
				top 1px
			&-span1
				position relative
				top 2px
			&-span2
				position relative
				top 3px
		&__input[type='checkbox']:checked + .skill-data__block__label:before
			size(24px, 30px)
			background-position 0 -52px
