.skills
	margin-top 66px

	&__form
		margin-top 21px
		-webkit-column-count 3
		-moz-column-count 3
		column-count 3

	&__wrap
		position relative

	&__label
		position relative
		margin-y(5px)
		padding-left 28px
		display inline-block
		width 100%
		max-width 230px
		font-size 21px
		font-weight 800
		line-height 25px
		&:before
			position absolute
			top -8px
			left 0
			size(20px, 35px)
			content ''
			background url(../images/sprites/icons.png)
			background-position -260px -101px

	&--span0
		position relative
		top 1px
	&--span1
		position relative
		top 2px
	&--span2
		position relative
		top 3px

	&__input
		display none

	&__input[type='checkbox']:checked + &__label:before
		size(24px, 35px)
		background-position -358px -58px
